body {
    -webkit-font-smoothing: auto;
    letter-spacing: normal;
    text-rendering: auto;
}

html, body {
  height: 100%;
}

main {
  min-height: 100%;
  margin-bottom: -150px; /*Equal to - (footer height)*/
}

main:after {
  content: "";
  display: block;
}

footer, main:after {
  height: 150px;
}

.wrapper {
    min-height: 100%;
    border-left: 1px solid #eee;
}

.glyphicon {
    padding: 0 5px 0 0;
}

.container-maxout {
  padding-left: 0;
  padding-right: 0;
}

.navbar {
  border-radius: 0;
}

ul:last-child {
    /*margin-bottom: 0;*/
}

.sidebar {
    border-right: 1px solid #eee;
}

.panel > .table-bordered, .panel > .table-responsive > .table-bordered {
    border: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.pagination {
    display: inline;
    padding-left: 0;
    margin: 0;
    border-radius: 3px;
}

.dot:before {
  margin-right: 5px;
  content: "";
  display: inline-block;
  width: .9em;
  height: .9em;
  border-radius: 50%;
}

.dot-default:before {
  background-color: #777;
}

.dot-primary:before {
  background-color: #428bca;
}

.dot-success:before {
  background-color: #5cb85c;
}

.dot-info:before {
  background-color: #5bc0de;
}

.dot-warning:before {
  background-color: #f0ad4e;
}

.dot-danger:before {
  background-color: #d9534f;
}

.bootstrap-datetimepicker-widget {
  padding: 4px;
}

.bootstrap-datetimepicker-widget .btn {
   -webkit-box-shadow: none;
   box-shadow: none;
   color: #666;
}

.bootstrap-datetimepicker-widget .btn-primary {
  background: none;
  color: #666;
}

.bootstrap-datetimepicker-widget .btn-primary:hover {
    background: #eee;
    border-color: #eee;
}

.bootstrap-datetimepicker-widget .accordion-toggle:hover {
   background: #eee;
}

.bootstrap-datetimepicker-widget .picker-switch {
    overflow: visible;
}

.bootstrap-datetimepicker-widget td.active, .bootstrap-datetimepicker-widget td.active:hover {
  background-color: #2196F3;
  color: #ffffff;
  text-shadow: none;
}
.bootstrap-datetimepicker-widget td.old, .bootstrap-datetimepicker-widget td.new {
  color: #aeaeae;
}

.bootstrap-datetimepicker-widget td {
    height: 54px;
    line-height: 54px;
    width: 5px;
}




.callout {
    padding: 20px;
    margin: 0px 0 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.callout-danger h4 {
    color: #d9534f;
}

.callout-danger {
    border-left-color: #d9534f;
}

/**
 * selectize.bootstrap3.css (v0.11.2) - Bootstrap 3 Theme
 * Copyright (c) 2013 Brian Reavis & contributors
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this
 * file except in compliance with the License. You may obtain a copy of the License at:
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF
 * ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 *
 * @author Brian Reavis <brian@thirdroute.com>
 */
.selectize-control.plugin-drag_drop.multi > .selectize-input > div.ui-sortable-placeholder {
    visibility: visible !important;
    background: #f2f2f2 !important;
    background: rgba(0, 0, 0, 0.06) !important;
    border: 0 none !important;
    -webkit-box-shadow: inset 0 0 12px 4px #ffffff;
    box-shadow: inset 0 0 12px 4px #ffffff;
}
.selectize-control.plugin-drag_drop .ui-sortable-placeholder::after {
    content: '!';
    visibility: hidden;
}
.selectize-control.plugin-drag_drop .ui-sortable-helper {
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.selectize-dropdown-header {
    position: relative;
    padding: 3px 12px;
    border-bottom: 1px solid #d0d0d0;
    background: #f8f8f8;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.selectize-dropdown-header-close {
    position: absolute;
    right: 12px;
    top: 50%;
    color: #333333;
    opacity: 0.4;
    margin-top: -12px;
    line-height: 20px;
    font-size: 20px !important;
}
.selectize-dropdown-header-close:hover {
    color: #000000;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup {
    border-right: 1px solid #f2f2f2;
    border-top: 0 none;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup:last-child {
    border-right: 0 none;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup:before {
    display: none;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup-header {
    border-top: 0 none;
}
.selectize-control.plugin-remove_button [data-value] {
    position: relative;
    padding-right: 24px !important;
}
.selectize-control.plugin-remove_button [data-value] .remove {
    z-index: 1;
    /* fixes ie bug (see #392) */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 17px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: inherit;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    padding: 1px 0 0 0;
    border-left: 1px solid rgba(0, 0, 0, 0);
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.selectize-control.plugin-remove_button [data-value] .remove:hover {
    background: rgba(0, 0, 0, 0.05);
}
.selectize-control.plugin-remove_button [data-value].active .remove {
    border-left-color: rgba(0, 0, 0, 0);
}
.selectize-control.plugin-remove_button .disabled [data-value] .remove:hover {
    background: none;
}
.selectize-control.plugin-remove_button .disabled [data-value] .remove {
    border-left-color: rgba(77, 77, 77, 0);
}
.selectize-control {
    position: relative;
}
.selectize-dropdown,
.selectize-input,
.selectize-input input {
    /*color: #333333;*/
    font-family: inherit;
    font-size: 16px;
    line-height: inherit;
    -webkit-font-smoothing: inherit;
}
.selectize-input,
.selectize-control.single .selectize-input.input-active {
    /*background: #ffffff;*/
    cursor: text;
    display: inline-block;
}
.selectize-input {
    /*border-bottom: 1px solid #cccccc;*/
    box-shadow: inset 0 -1px 0 #dddddd;
    padding: 6px 0px;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.selectize-control.multi .selectize-input.has-items {
    padding: 5px 12px 2px;
}
.selectize-input.full {
    /*background-color: #ffffff;*/
}
.selectize-input.disabled,
.selectize-input.disabled * {
    cursor: default !important;
}
.selectize-input.focus {
    box-shadow: inset 0 -2px 0 #2196f3;
}
.selectize-input.dropdown-active {

}
.selectize-input > * {
    vertical-align: baseline;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.selectize-control.multi .selectize-input > div {
    cursor: pointer;
    margin: 0 3px 3px 0;
    padding: 1px 3px;
    background: #efefef;
    color: #333333;
    border: 0 solid rgba(0, 0, 0, 0);
}
.selectize-control.multi .selectize-input > div.active {
    background: #428bca;
    color: #ffffff;
    border: 0 solid rgba(0, 0, 0, 0);
}
.selectize-control.multi .selectize-input.disabled > div,
.selectize-control.multi .selectize-input.disabled > div.active {
    color: #808080;
    background: #ffffff;
    border: 0 solid rgba(77, 77, 77, 0);
}
.selectize-input > input {
    display: inline-block !important;
    padding: 0 !important;
    min-height: 0 !important;
    max-height: none !important;
    max-width: 100% !important;
    margin: 0 !important;
    text-indent: 0 !important;
    border: 0 none !important;
    background: none !important;
    line-height: inherit !important;
    -webkit-user-select: auto !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.selectize-input > input::-ms-clear {
    display: none;
}
.selectize-input > input:focus {
    outline: none !important;
}
.selectize-input::after {
    content: ' ';
    display: block;
    clear: left;
}
.selectize-input.dropdown-active::before {
    content: ' ';
    display: block;
    position: absolute;
    background: #ffffff;
    height: 1px;
    bottom: 0;
    left: 0;
    right: 0;
}
.selectize-dropdown {
    position: absolute;
    z-index: 10;
    border: 1px solid #cccccc;
    background: #ffffff;
    margin: -1px 0 0 0;
    border-top: 0 none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}
.selectize-dropdown [data-selectable] {
    cursor: pointer;
    overflow: hidden;
}
.selectize-dropdown [data-selectable] .highlight {
    background: rgba(255, 237, 40, 0.4);
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.selectize-dropdown [data-selectable],
.selectize-dropdown .optgroup-header {
    padding: 3px 12px;
}
.selectize-dropdown .optgroup:first-child .optgroup-header {
    border-top: 0 none;
}
.selectize-dropdown .optgroup-header {
    color: #777777;
    background: #ffffff;
    cursor: default;
}
.selectize-dropdown .active {
    background-color: #f5f5f5;
    color: #262626;
}
.selectize-dropdown .active.create {
    color: #262626;
}
.selectize-dropdown .create {
    color: rgba(51, 51, 51, 0.5);
}
.selectize-dropdown-content {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 200px;
}
.selectize-control.single .selectize-input,
.selectize-control.single .selectize-input input {
    cursor: pointer;
}
.selectize-control.single .selectize-input.input-active,
.selectize-control.single .selectize-input.input-active input {
    cursor: text;
}
.selectize-control.single .selectize-input:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 50%;
    right: 17px;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #333333 transparent transparent transparent;
}
.selectize-control.single .selectize-input.dropdown-active:after {
    margin-top: -4px;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #333333 transparent;
}
.selectize-control.rtl.single .selectize-input:after {
    left: 17px;
    right: auto;
}
.selectize-control.rtl .selectize-input > input {
    margin: 0 4px 0 -2px !important;
}
.selectize-control .selectize-input.disabled {
    opacity: 0.5;
    background-color: #ffffff;
}
.selectize-dropdown,
.selectize-dropdown.form-control {
    height: auto;
    padding: 0;
    margin: 2px 0 0 0;
    z-index: 1000;
    background: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.selectize-dropdown .optgroup-header {
    font-size: 12px;
    line-height: 1.42857143;
}
.selectize-dropdown .optgroup:first-child:before {
    display: none;
}
.selectize-dropdown .optgroup:before {
    content: ' ';
    display: block;
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
    margin-left: -12px;
    margin-right: -12px;
}
.selectize-dropdown-content {
    padding: 5px 0;
}
.selectize-dropdown-header {
    padding: 6px 12px;
}
.selectize-input {
    min-height: 34px;
}
.selectize-input.dropdown-active {

}
.selectize-input.dropdown-active::before {
    display: none;
}
.selectize-input.focus {
    /*border-color: #66afe9;*/
    outline: 0;
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);*/
    /*box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);*/
}
.has-error .selectize-input {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-error .selectize-input:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
.selectize-control.multi .selectize-input.has-items {
    padding-left: 0;
    padding-right: 9px;
}
.selectize-control.multi .selectize-input > div {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.form-control.selectize-control {
    padding: 0;
    height: auto;
    border: none;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}


/* JTS Specific */

.dashboard-figure
{
    font-size: 3em;
    line-height: 1em;
}